*{
    margin:0;
    padding:0;
}
a{
    text-decoration: none;
    color: white;
    border: solid 1px black;
    background-color: rgb(92, 3, 3);
    /* padding es el espacio entre el texto y el borde */
    padding:10px;
    border-radius: 20px;
}
li{
    margin: 30px;
    list-style-type: none;
}
nav img {
    width: 15%;
}
nav p{
    /* estilo al texto */
   color: darkred;
   /* background-color: darkred;  */
   font-size: 25px;
   text-align: left;
   /* para separar las letras */
   letter-spacing: 5px;
   /* para separar palabras */
   word-spacing: 10px;
   /* sombreado del texto */
   /* text-shadow: 5px 5px 5px black; */
   font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-weight: bold;
}
nav{
    /* para que se alinee de forma horizontal */
    display: flex;
    /* para que se centre horizontalmente */
    justify-content: space-between;
    /* para que se alinee verticalmente */
    align-items: center;

}
ul{ 
    display: flex;    
} 
.logo{
    display: flex;
    align-items: center;
}
/* TERMINA BARRA DE NAVEGACIÓN */
header{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgb(112, 114, 232), rgb(148, 214, 223),#fff);
}
.caja{
    display: flex;
    align-items: center;
    width: 100%;
    height: 70vh;
}
.menu{
    width: 100%;
    height: 30%;
}
.cajita img{
    width: 100%;
}
.cajita{
    
    text-align: center;
}
span {
    color: rgb(92, 3, 3);
}
.cajita h1{
    font-size: 3.5em;
}
.cajita p{
    margin-bottom: 30px;
}
.acercade{
    height: 80vh;
    width: 100%;
    background: url(../img/fondo\ grande2.webp);
    /* para que no haga un patrón porque la imagen es pequeña */
    background-repeat: no-repeat;
    background-position: center;
    /* para que cubra toda la pantalla */
    background-size: cover;
}
.acerca1{
    height: 75vh;
    display: flex;
    justify-content: center;
}

.acerca2{
    width: 50%;
    height: 50vh;
    background: radial-gradient(rgba(209, 145, 237, 0.615),rgba(2, 43, 105, 0.644));
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px; 
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    padding: 20px;
    font-weight: bold;

}

h2{
    text-align: center;
    font-size: 3em;
}
/* pseudo clase hover  */
/* es cabiar el estilo predeterminado de un elemento cuando pase algo(mover el click sobre de algo) */
a:hover{
    background-color: rgb(104, 5, 3);
    color: rgb(255, 254, 254);
    font-size: 30px;
}
.paralax{
    width: 100%;
    height: 50vh;
    background: url(../img/fondo\ azullll.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
}
.paralax p{
    width: 60%;
    background-color: rgba(0, 0, 139, 0.574);
    padding: 30px;
    text-align: center;
    font-size: 3em;
    color: #fff;
    /* efecto de luz en el texto */
    text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px white, 0 0 42px #0fa, 0 0 82px #0fa, 0 0 92px #0fa, 0 0 102px #0fa, 0 0 152px #0fa;

}

/* comienza sección portafolio */
.portafolio{
    width: 100%;
    height: 100vh;
    background: url(../img/fondo\ grande2al\ reves.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.portafolio1{
    display: flex;
    height: 70vh;
    justify-content: center;
    align-items: center;
   

}
.portafolio2{
    display: flex;
    width: 60%;
    height: 70vh;
    border:solid 5px turquoise;

}
.portafolio2 img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 0;
    /* espacio dentro de contenedor (agarra el esapcio que le corresponde*/
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s;
}
.portafolio2 img:hover{
    /* crosshair sirve para que vayan pasando las imágenes */
    cursor:crosshair;
    width: 40%;
    opacity: 1;
    filter: contrast(120%);
}
/* Inicia contacto */
.contacto{
    width: 100%;
    height: 80vh;
    background: linear-gradient(#fff, rgb(148, 214, 223),rgb(112, 114, 232));
}
.contacto1{
    width: 100%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contacto2{
    width: 60%;
    height: 60vh;
    background:rgba(73, 73, 232, 0.337);
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.input{
    border: solid 3px turquoise;
    border-radius: 3px;
}
.boton{
    color: white;
    border: solid 1px black;
    background-color: rgb(92, 3, 3);
    /* padding es el espacio entre el texto y el borde */
    padding:10px;
    border-radius: 10px;
}
footer {
   width: 100%;
   height: 20vh;
   background-color: rgb(112, 114, 232);
   display: flex;
   justify-content: center;
   align-items: center;

}
footer img{
    margin-right: 50px;
    
}
.whats{
    position: fixed;
    bottom: 10px;
    right: 10px;
}

